form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    text-align: left;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #FFB22C;
    border-radius: 4px;
    background-color: white;
    color: #FFB22C;
}

form input::placeholder {
    color: #FFB22C;
}
